@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;700&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;700&family=Shrikhand&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
}
.header__title {
  font-family: "shrikhand", "Times New Roman", Times, serif;
  font-size: 30px;
}

.location {
  background-color: #e9e9e9;
  display: flex;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: 2px solid #c6c6c6;
}
.location .searchbar {
  background-color: #e9e9e9;
  border: 0 none transparent;
  width: 40%;
}

::-moz-placeholder {
  text-align: center;
  color: black;
  font-weight: bold;
}

:-ms-input-placeholder {
  text-align: center;
  color: black;
  font-weight: bold;
}

::placeholder {
  text-align: center;
  color: black;
  font-weight: bold;
}

.restaurant-explorer {
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}
.restaurant-explorer__text {
  font-family: "roboto", "Times New Roman", Times, serif;
  text-align: center;
  padding: 5px;
}
.restaurant-explorer__text--bold {
  font-weight: bold;
}

.btn {
  text-decoration: none;
  border-radius: 25px;
  padding: 15px;
  margin: 30px;
  border: 0;
  color: white;
  background: linear-gradient(to right bottom, #FF79DA, #9356DC);
  box-shadow: 5px 5px 5px gainsboro;
  width: 60%;
  height: 50px;
  text-align: center;
}
.btn:hover {
  background: linear-gradient(to right bottom, #fa96df, #b581f5);
  box-shadow: 5px 5px 5px #cfcfcf;
}

.fonction {
  margin: 10px;
}
.fonction__title {
  font-family: "roboto", "Times New Roman", Times, serif;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 25px;
}
.fonction__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sticker {
  display: flex;
  justify-content: flex-start;
  position: relative;
  width: 95%;
  padding: 25px;
  margin: 10px;
  gap: 25px;
  background-color: #f5f5f5;
  border-radius: 15px;
  box-shadow: 5px 5px 5px gainsboro;
}
.sticker span {
  position: absolute;
  left: -7px;
  top: 25px;
  color: white;
  background-color: #9356DC;
  width: 20px;
  height: 20px;
  border-radius: 25px;
  padding-left: 6px;
  padding-top: 2px;
}
.sticker i {
  color: grey;
  font-size: 20px;
  padding-left: 15px;
}
.sticker p {
  font-family: "roboto", "Times New Roman", Times, serif;
  font-size: 16px;
  font-weight: bold;
}
.sticker:hover {
  background-color: #f2eafb;
}
.sticker:hover i {
  color: #9356DC;
}

#restaurant {
  font-family: "roboto", "Times New Roman", Times, serif;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
}

.restaurant__title {
  margin: 25px 0px 10px 15px;
}

.container {
  margin: 20px 10px 20px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container a {
  width: 97%;
  text-decoration: none;
  color: black;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 250px;
  margin-bottom: 15px;
  border-radius: 25px;
  box-shadow: 5px 5px 5px gainsboro;
}
.card__img {
  height: 70%;
}
.card__img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 20px 20px 0 0;
}
.card__img--new {
  position: absolute;
  background-color: #99E2D0;
  top: 20px;
  right: 20px;
  padding: 5px 10px 5px 10px;
  font-size: 14px;
  z-index: 1;
}
.card__text {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 30%;
  line-height: 25px;
  padding-left: 15px;
}

.footer {
  background-color: #262626;
  color: white;
  padding: 20px;
}
.footer__title {
  font-family: "shrikhand", "Times New Roman", Times, serif;
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: normal;
}
.footer ul {
  font-family: "roboto", "Times New Roman", Times, serif;
  list-style-type: none;
}
.footer ul li {
  line-height: 30px;
}
.footer ul i {
  padding-right: 5px;
}
.footer .fa-solid.fa-handshake-angle {
  font-size: 11px;
}

.back {
  position: absolute;
  left: 30px;
}

.fa-solid.fa-arrow-left {
  color: #262626;
}

.resto-img {
  height: 300px;
  width: 100%;
}
.resto-img img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}

.resto-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 35px 35px 0 0;
  position: absolute;
  top: 289px;
  width: 100%;
  padding: 30px 10px 20px 10px;
  z-index: 1;
}
.resto-title h1 {
  font-family: "shrikhand", "Times New Roman", Times, serif;
  font-weight: lighter;
  font-size: 30px;
}

.fa-regular.fa-heart {
  position: absolute;
  font-size: 23px;
  right: 31px;
}

.fa-solid.fa-heart {
  position: absolute;
  right: 30px;
  font-size: 25px;
  background: linear-gradient(to top, #FF79DA, #9356DC);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  opacity: 0;
}
.fa-solid.fa-heart:hover {
  animation: heart 0.7s ease-in-out forwards;
  -webkit-animation: heart 0.7s ease-in-out forwards;
}
@-webkit-keyframes heart {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes heart {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.menu {
  background-color: #f5f5f5;
  font-family: "roboto", "Times New Roman", Times, serif;
  padding: 15px 10px 10px 10px;
}
.menu h2 {
  display: inline-block;
  text-transform: uppercase;
  font-weight: lighter;
  margin-top: 20px;
  padding-bottom: 5px;
  font-size: 17px;
}

hr {
  border: 2px solid #99E2D0;
  width: 40px;
  margin-bottom: 10px;
}

.menu-stickers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 5px;
  width: 100%;
  height: 70px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 5px 5px 5px gainsboro;
  padding-left: 10px;
  margin-bottom: 15px;
  overflow: hidden;
}
.menu-stickers:hover .check {
  overflow: visible;
  transform: translateX(0px);
  -webkit-transform: translateX(0px);
  width: 20%;
  transition: 0.6s;
}
.menu-stickers:hover .fa-circle-check {
  overflow: visible;
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  transition: 0.6s;
}
.menu-stickers h3 {
  font-size: 18px;
}
.menu-stickers .meal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 25px;
  width: 100%;
  padding-right: 10px;
}
.menu-stickers .meal-description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.menu-stickers .meal p {
  font-size: 15px;
  color: #666666;
  overflow: hidden;
}
.menu-stickers .meal .price {
  font-weight: bold;
  color: black;
}
.menu-stickers .check {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  border-radius: 0 20px 20px 0;
  transform-origin: right;
  width: 0%;
  transform: translateX(25px);
  transition: 0.6s;
}
.menu-stickers .fa-circle-check {
  color: white;
  font-size: 25px;
  overflow: hidden;
}

.order {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 650px) {
  header__title {
    font-size: 50px;
  }
}/*# sourceMappingURL=style.css.map */