@mixin shadow{
    box-shadow: 5px 5px 5px darken($color-background, 10%)
}
@mixin dark-shadow{
    box-shadow: 5px 5px 5px darken($color-background, 15%);
}
@mixin ellipsis{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}